body
{
    background: -webkit-linear-gradient(0deg, #af5abf, #e9e4ea);
    background: linear-gradient(0deg, #af5abf, #e9e4ea);
    margin: 0;
}

header
{
    height: 163px;
}

header *
{
    z-index: 5;
}

#header1
{
    display: flex;
    justify-content: center; /* Выравнивание элементов по горизонтали по центру */
    align-items: center; /* Выравнивание элементов по вертикали по центру */
    content: "";
    position: relative;
    background: crimson;
    height: 163px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header #header1 img
{
    width: 90px;
    height: 90px;
}

.nav
{
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    background-color: gold;
    padding: 12px;
    border-radius: 15px;
    position: sticky;
    top: 0;

    z-index: 1000;
}

.nav  .nav_link
{
    margin: 0 15px;

    text-decoration: none;
    color: crimson;
    transition: color 0.2s linear;
    position: relative;
    list-style: circle;
}

.nav_link::after
{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: white;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;

}

.nav_link:hover
{
    color: white;
}

.nav_link:hover::after
{
    opacity: 1;
}


#начало
{
    font-size:100px;

}
#начало::first-letter
{
    font-size:150px;
    margin-top: -50px;
    color: gold;
}

.currentPage {
    background-color: #ff8888;
}

.currentPage p {
    color: black;
}

.footer
{
    display: grid;

    margin-top: 10%;

    grid-template-columns: 40% 20% 15% 25% ;
    grid-template-rows: 60% 40%;

    grid-template-areas:
    "A Q S C"
    "i Q S C";

    column-gap: 1%;

    color: black;

    padding: 5%;

    border-radius: 15px;

    background-color:  gold;
}

.footer h2
{
    text-decoration: none;
}
.footer h2::after
{
    content: '';
    display: block;
    position: relative;

    height: 3px;
    width: 3rem;
    top: 3px;

    margin-bottom: -0.5rem;

    background-color: black;

}
.icon2 p
{
    color: white;
}
.AboutUs
{
    grid-area: A ;
}
.icons
{
    grid-area: i ;
    justify-self: start;
}
.QuickLinks
{
    grid-area: Q ;
}
.Shop
{
    grid-area: S ;
}
.Contact
{
    grid-area: C ;
}

.footer h2
{
    color: black;
}
#AboutUsp
{
    font-size: 15px !important;
    line-height: 14px;
}
.QuickLinks li
{
    list-style: none;
}
.QuickLinks li a
{
    font-size: 16px !important;
    line-height: 25px;
    text-decoration: none;
    color: black;
}
.Shop li
{
    list-style: none;
}
.Shop li a
{
    font-size: 16px !important;
    line-height: 25px;
    text-decoration: none;
    color: black;
}
.Contact li
{
    list-style: none;
}
.Contact li a
{
    font-size: 16px !important;
    line-height: 25px;
    text-decoration: none;
    color: black;
}
.Contact #img_tel
{
    display: inline-block;

    height: 20px;
    width: 20px;
}
.Contact #img_email
{
    display: inline-block;

    height: 20px;
    width: 20px;
}

#AboutUsh2:hover
{
    transition: 0.5s;
    transform: scale(1.2);
    transform: translateY(-10px);
    color:rgb(219, 27, 225)
}
#QuickLinksh2:hover
{
    transition: 0.5s;
    transform: scale(1.2);
    transform: translateY(-10px);
    color:rgb(219, 27, 225)
}
#Shoph2:hover
{
    transition: 0.5s;
    transform: scale(1.2);
    transform: translateY(-10px);
    color:rgb(219, 27, 225)
}
#конец:hover
{
    transition: 0.5s;
    transform: scale(1.2);
    transform: translateY(-10px);
    color:rgb(219, 27, 225)
}
.QuickLinks li:hover
{
    transition: 0.5s;
    transform: scale(1.05);
}
.QuickLinks li a:hover
{
    transition: 0.5s;
    transform: scale(2);
    color:crimson;
}
.Shop li:hover
{
    transition: 0.5s;
    transform: scale(1.05);
}
.Shop li a:hover
{
    transition: 0.5s;
    transform: scale(2);
    color:crimson;
}
.Contact li:hover{
    transition: 0.5s;
    transform: scale(1.05);
}

.Contact li a:hover
{
    transition: 0.5s;
    transform: scale(2);
    color:crimson;
}
