<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href = "/static/css/style2.css" rel = "stylesheet">
    <link href = "/static/css/style1.css" rel = "stylesheet">
    <style>
        main {
            min-height: 100%;
        }
        .modal {
            display: flex !important;
            align-items: center;
        }
        .modal h2 {
            padding-left: 10px;
        }
        .modal p {
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <header>
    <input type="checkbox" id="burger-checkbox" class="burger-checkbox"></input>
    <label class="burger" for="burger-checkbox"></label>
    <a href ="file:///D:/ркчир/пр1/index.html"><img src = "/static/images/android-chrome-512x512.png" width="64" height="64"></a>
    <nav class="header-nav">
        <ul class="header-left-nav">
            <li> <a href="/cars/map">Выбор машины</a></li>
            <li> <a href="/account">Личный кабинет</a></li>
        </ul>
    </nav>
</header>
    <main>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            function endTrip() {
                var tripId = document.getElementById("tripId").value;
                $.ajax({
                    type: "PUT",
                    url: "/trips/" + tripId + "/end",
                    contentType: "application/json",
                    data: JSON.stringify({ completed: true, available: true }),
                    success: function(response) {
                        alert("Trip ended successfully!");
                        window.location.reload();
                        },
                    error: function(error) {
                        alert("Error ending trip.");
                    }
                });
            }
        </script>
        <div th:if="${trip.completed}">
            <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-4 shadow">
                        <div class="modal-header border-bottom-0">
                            <h1 class="modal-title fs-5">Детали поездки</h1>
                        </div>
                        <img class="car-img" th:src="${trip.car.imageUrl}">
                        <h2 th:text="${trip.car.make} + ' ' + ${trip.car.model}"></h2>
                        <p th:text="${trip.car.licensePlate}"></p>
                        <div class="modal-body py-0">
                            <p th:text="${trip.startTime}"></p>
                            <p th:text="${trip.endTime}"></p>
                        </div>
                        <p th:text="${trip.totalCost}">₽</p>
                        <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                            <button type="button" class="btn btn-lg btn-primary" onclick="endTrip()" style="color: #6f6f6f">Поездка завершена</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:unless="${trip.completed}">
            <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-4 shadow">
                        <div class="modal-header border-bottom-0">
                            <h1 class="modal-title fs-5">Детали поездки</h1>
                        </div>
                        <img class="car-img" th:src="${trip.car.imageUrl}">
                        <h2 th:text="${trip.car.make} + ' ' + ${trip.car.model}"></h2>
                        <p th:text="${trip.car.licensePlate}"></p>
                        <div class="modal-body py-0">
                            <p th:text="${trip.startTime}"></p>
                        </div>
                        <form id="endTripForm">
                            <input type="hidden" id="tripId" th:value="${trip.id}"/>
                            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                                <button type="button" class="btn btn-lg btn-primary" onclick="endTrip()">Завершить поездку</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="registration-footer">
        <div class="container">
            <section class="footer-section">
                <h3>О нас</h3>
                <p>ManStyle - это лучший сервис аренды автомобиля, где вы быстро подберёте подходящую машину и получите только положительные эмоции от поездки. Главная цель нашей команды - быть проводником в мир автомобилей для всех желающих. </p>
                <div class="social-footer">
                    <button class="button-tg" onclick="window.location.href = 'https://web.telegram.org/';">
                        <img src="/static/images/free-icon-telegram-2111708.png" width="16" height="16">
                    </button>
                    <button class="button-vk" onclick="window.location.href = 'https://vk.com/';">
                        <img src="/static/images/free-icon-vk-733639.png" width="16" height="16">
                    </button>
                    <button class="button-yt" onclick="window.location.href = 'https://www.youtube.com/';">
                        <img src="/static/images/free-icon-youtube-2111795.png" width="16" height="16">
                    </button>
                </div>
            </section>
            <section class="footer-section">
                <h3>Мой ManStyle</h3>
                <ul class="footer-list">
                    <li><a href="registration.html">Каталог</a></li>
                    <li><a href="aboutUs.html">Личный кабинет</a></li>
                </ul>
            </section>
            <section class="footer-section">
                <h3>Связаться с нами</h3>
                <ul class="footer-list">
                    <li>
                        <img src="/static/images/telephone-handle-silhouette.png" alt="" class="connect-img">
                        <a href="tel:01234567890">+7 (918) 777-77-77</a><br><!--Ссылка на номер телефона-->
                    </li>
                    <li>
                        <img src="/static/images/envelope.png" alt="" class="connect-img">
                        <a href="mailto:sendemail@mail.ru?subject=Новый заказ&body=Здравствуйте, я хочу сделать заказ в вашем магазине.">ManStyle@mail.ru</a><!--Ссылка на эл. почту-->
                    </li>
                    <li>
                        <p class="myName">Меликфашян Г.А ИКБО-20-22</p>
                    </li>
                </ul>
            </section>
            <p><small>© 2023 ManStyle. Магазин одежды</small></p>
        </div>
    </footer>
</body>
</html>
